<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>分页测试</title>
</head>
<body>
{% for b in page %}
<div>{{ b.title }}</div>
{% endfor %}

{# 分页功能 #}
{# 上一页功能 #}
{% if page.has_previous %}
<!--url反向解析 url appname:urlnamespace-->
<a href="{% url 'firstapp:test_page' %}?page={{page.previous_page_number }}">上一页</a>
{% else %}
上一页
{% endif %}
{% for p in paginator.page_range %}
{% if p == page.number %}
{{ p }}
{% else %}
<a href="{% url 'firstapp:test_page' %}?page={{ p}}">{{ p }}</a>
{% endif %}
{% endfor %}
{#下一页功能#}
{% if page.has_next %}
<a href="{% url 'firstapp:test_page' %}?page={{page.next_page_number }}">下一页</a>
{% else %}
下一页
{% endif %}
</body>
</html>