{% extends 'base.html' %}

{% block title %}
重置密码
{% endblock %}

{% block content %}


<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="jumbotron">
				<br>
				<h2>
					还没注册?点击<a href="{% url 'users:reg' %}">此处</a>进行注册
				</h2>
				<p>
					这里是密码重置页面，输入账号或者邮箱，将发送一个系统生成的随机密码给您的邮箱,用于您的此次登录
				</p>
				<p>
					您可以在登陆后自行修改个人密码
				</p>


    <form method="post" action="{% url 'users:pwd_reset' %}">
    {%csrf_token%}
    <p>
        <input type="text" name="useroremail" placeholder="用户名或者邮箱">
    </p>
<!--    <p>-->
<!--        <input type="submit" value="确定重置">-->
<!--    </p>-->
    <button type="submit" class="btn btn-primary">发送邮件</button>
    </form>

			</div>
		</div>
	</div>
</div>
{% endblock %}